#currentImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagesWithQuotes{
    width: 500px;
    height: 500px;
}

#currentQuote {
    margin: ;
}
header h1 {
    align-items: center;
}