
.randomCatImg{
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 10px 2px black;
}

.currentQuoteBox{
    margin-top: 3%;
    border: solid black 1px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: .5%;
    box-shadow: 0px 0px 10px 2px black;
}

.header {
    text-align: center;
    padding: 2%;
    background-color: lightgray;
    width: 100%;
    color:rgb(195, 136, 250);
    font: Tahoma;
    text-shadow: 0.5px 0.5px 0.25px gray;
}

.getMeme{
    margin-bottom: 1%;
}
.page-flexbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px;
    background-color: rgb(208, 244, 247);
    padding: 2%;
}
.nextButton {
    margin-top: 1%;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.quotes-container {
    font-size: 10pt;
    margin: 1%;
}

.quotes-container p {
    box-shadow: 0px 0px 10px 2px black;
}

.histBtnBack {
    background-color: rgb(195, 136, 250);
}